# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Data files (important for ML)
data/
*.csv
*.json
*.pkl
*.h5
